<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdn.datatables.net/1.10.19/css/dataTables.bootstrap4.min.css">


    <title>Twitter Project</title>
  </head>
  <body>

  <div class="container pb-4">
      <div class="jumbotron">
        <h1 class="text-center">Twitter Project</h1>
        <p class="text-center">Enter text below to search up to 1000 tweets</p>
      </div>

      <div class="row justify-content-center">
          <form class="form-inline" method="GET" action="{{ url_for('index') }}">
              <label class="pr-2" for="searchword">Search Term:</label>
              <input class="form-control" id="searchword" type="text" name="q">
              <button class="btn btn-primary" type="submit">search</button>
          </form>
      </div>

      <div class="container">
          <h4 class="text-center py-4">Top 10 Appearing Words For Search</h4>
          <table class="table text-center">
            <thead>
                <tr>
                    <th>Word</th>
                    <th>Count</th>
                </tr>
            </thead>
            <tbody>
                {% for word in word_counts %}
                <tr>
                    <td>{{ word[0] }}</td>
                    <td>{{ word[1] }}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
      </div>

      <div class="container">
          <h4 class="text-center py-4">Tweets</h4>
          <table id="tweetTable" class="table table-borderless text-center">
           <thead>
                <tr>
                    <th>Tweet Text</th>
                </tr>
            </thead>
            <tbody>
                {% for tweet in tweets %}
                <tr>
                    <td>{{ tweet }}</td>
                </tr>
                {% endfor %}
            </tbody>
          </table>
      </div>
  </div>
    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>

    <script src="https://cdn.datatables.net/1.10.19/js/jquery.dataTables.min.js"></script>
    <script src="https://cdn.datatables.net/1.10.19/js/dataTables.bootstrap4.min.js"></script>

    <script>
        $('#tweetTable').DataTable();
    </script>
   </body>
</html>